:root {
  --md-default-bg-color: #f4f4f4;
  --md-code-bg-color: #eeeeee;
  --md-primary-fg-color: #ff9933;
  --md-primary-fg-color--light: #ffaa4d;
  --md-primary-fg-color--dark: #cc7a29;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
